* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Raleway', "Helvetica", "Arial", sans-serif;
    background-image: url(img/PershiStravu/background.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 1%;
    background-attachment: fixed;
}

/*шапка сайта*/
.header {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center; 
}

.nav {
    display: inline-block; 
}

.nav-list {
    list-style: none; 
    padding: 0; 
}

.nav-list li {
    display: inline-block; 
    margin-right: 30px; 
}

.nav-list-link {
    color: #fff;
    text-decoration: none;
}

.nav-list-link:hover {
    color: #ff6f00;
}

/*Інформація про ресторан*/

.welcome-container {
    height: 550px;
    width: 80%;
    margin: 160px auto;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 100px;

}

.welcome {
    text-align: center;
}
.about {
    height: 300px;
    width: 80%;
    margin: 150px auto;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    background-color: #333;
    color: white;
}

.story, .kitchen {
    text-align: center; 
    padding-top: 40px;
}

.text1, .text2 {
    text-align: center; 
}

.our {
    font-weight: bold; 
}

.text-story {
    display: block; 
    margin: 0 auto; 
    max-width: 700px; 
}

/*меню ресторана*/

.menu {
    color: white;
    display: grid;
    margin: 200px;
    justify-content: center;
    grid-template-columns: repeat(3,600px); 
    grid-gap: 20px; 
    text-align: center;
}

.menu > div {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
}

.opus {
    margin-top: 10px;
    color: #fff;
}

/*резервація*/

.reservation-form {
    max-width: 600px;
    margin: 200px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.res-title {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #cccccc;
}

input[type="date"],
input[type="time"],
select {
    width: 95%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: #cccccc;
    margin-right: 10px;
    align-items: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff8800;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px 0; 
    margin: 10px;
    border-radius: 5px;
}

/*футер сайта*/

.footer {
    display: flex;
    justify-content: center; 
}

.div-info {
    display: flex;
    justify-content: space-around; 
    max-width: 600px; 
    margin: 0 auto; 
}

.info {
    text-align: center; 
    margin: 0px auto;
    margin-left: 50px;
}

main {
    position: relative;
}

.arrow-icon {
    display: none;
    padding: 24px;
    border-radius: 50%;
    position: fixed;
    bottom: 200px;
    right: 3px;
    background-color: #333;
    box-shadow: 0 1px 8px 2px #ccc;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}

.arrow-icon:hover {
    background-color: #e8eaed;
}

.arrow-icon:hover svg {
    fill: #333;
}

.button-reserved {
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    top: 24px;
    left: 50%;
    translate: -50%;
    border-radius: 12px;
    padding: 24px;
    width: 768px;
    overflow-y: auto;
    max-height: 600px;
    background-color: #fff;
    color: #000000;
}

.close-icon {
    font-size: 50px;
    position: absolute;
    top: 8px;
    right: 16px;
    cursor: pointer;
    transition: transform .6s;
}

.close-icon:hover {
    transform: rotate(180deg);
}

.reservation-title {
    text-align: center;
    font-size: 28px;
}

.reservation-data {
    padding: 6px 0;
    display: flex;
    gap: 24px;
    align-items: center;
}

@media (max-width: 600px) {
    .welcome-container {
        width: 90%;
        margin: 80px auto;
        font-size: 50px;
    }

    .about, .reservation-form, .menu > div {
        width: 90%;
        margin: 30px auto;
        padding: 15px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    .menu img {
        width: 100%;
        height: auto;
    }

    .nav-list li {
        display: block;
        margin-right: 0;
        text-align: center;
    }

    .nav-list-link {
        display: block;
        padding: 10px 0;
    }

    .div-info {
        flex-direction: column;
        align-items: center;
    }

    .info {
        margin: 10px 0;
    }

    .arrow-icon {
        right: 10px;
        bottom: 20px;
    }

    .modal {
        width: 90%;
        max-height: 80%;
    }
}


@media (min-width: 601px) and (max-width: 1200px) {
    .welcome-container {
        width: 80%;
        margin: 120px auto;
        font-size: 75px;
    }

    .about, .reservation-form, .menu > div {
        width: 80%;
        margin: 50px auto;
        padding: 20px;
    }

    .menu {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .menu img {
        width: 100%;
        height: auto;
    }

    .nav-list li {
        display: inline-block;
        margin-right: 20px;
    }

    .nav-list-link {
        display: inline-block;
        padding: 0;
    }

    .div-info {
        flex-direction: row;
        justify-content: space-around;
    }

    .info {
        margin: 0 20px;
    }

    .arrow-icon {
        right: 20px;
        bottom: 30px;
    }

    .modal {
        width: 80%;
        max-height: 80%;
    }
}
